<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Disaster Visualization</title>

        <style></style>
        <!--script src="//unpkg.com/d3"></script>
        <script src="//unpkg.com/globe.gl"></script -->
    </head>
    <body class="bg-gray-100">
        <div class="grid grid-cols-3 h-screen">
            <div class="flex justify-center items-center bg-gray-200">
                <p>Hello</p>
            </div>
            <div class="flex justify-center items-center"></div>
            <div class="flex justify-center items-center bg-gray-200">
                <!-- Right Column Content -->
            </div>
        </div>
    </body>
</html>
